:root {
	--title: "bold";
	--body: "regular";
	--line-height-body: 1.5rem;
	--smoke: #f4f4f4;
	--blue: #0095c7;
	--yellow: #ffd775;
	--white: #ffffff;
	--gray: #232323;
	--light-gray: #323330;
	--tag-color: lightgray;
	--transition: 0.3s ease-in-out;
	--gradient: linear-gradient(to right, red, orange, var(--yellow), var(--blue));
	--min-height: calc(100vh - 9.2rem);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	overflow-x: hidden;
	font-size: calc(65% + 0.8vmin);
}
.App {
	width: 100vw;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* background: var(--smoke); */
}
