.footer,
.row {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--gray);
}
.footer {
	background: var(--white);
	width: 100%;
	border-top: 1px solid var(--smoke);
	padding: 1rem 0rem;
	height: 4rem;
}
.row {
	width: 100%;
}
.row a {
	text-decoration: none;
	color: inherit;
	margin: 0rem 1rem;
}
.row a:hover,
.row a:active {
	text-decoration: underline;
}
