.profile {
	padding: 1rem;
}
.header,
.username,
.header_text {
	display: flex;
	align-items: center;
	justify-content: center;
}
.header {
	flex-direction: column;
	margin-bottom: 1rem;
}
.header_text {
	flex-direction: row;
	margin-top: 0.5rem;
	width: 100%;
	flex-wrap: wrap;
}
.topic {
	margin: 0rem 0.5rem;
}
